@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    padding: 20px 0 40px;
    height: 100vh;
}

.title {
    width: 270px;
    margin: 0 auto 50px;
}

.field {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: #455F60;
    font-size: 30px;
}

.fields {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.field.second-color {
    color: blue;
}

.message {
    margin: 30px auto;
    text-align: center;
}

.button-reset {
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    justify-self: center;
    padding: 15px 25px;
    background-color: #455F60;
    color: #fff;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
}